@model UploadImageInDatabase.Models.ImageViewModel

<br/>
<br/>
<div class="container">
    <div class="col-md-4">
        <input type="file" id="SelectImage"/><br/>
        <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
    </div>
    <div class="col-md-4 thumbnail" id="UploadImage"></div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    var UploadImage = function () {
 var file = $("#selectImage").get(0).files;
    var data = new formData;
    data.append("ImageFile", file[0]);
    $.ajax({
        type: "POST",
        url: "/Home/ImageUpload",
        data: data,
        contentType: false,
        processData: false,
        success: function (imgID) {
            $("#UploadImage").append('img src="/Home/DisplayingImage?imdID=' + imgID + '"class=img-responsive thumbnail"/>');
        }

    })
    }
   
    </script>